<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> About Us </title>
    <link rel="icon" href="https://goodwillotc.org/wp-content/uploads/2017/04/Favicon.png">


    <!--My CSS -->
    <style>

    .form-group {
        width: 70%;
    }
	   </style>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body class="text-light pb-5" style="background-color: rgb(24, 84, 130)">


  <div class="col-lg-12 text-center p-1" style="background-color:rgb(15, 15, 15)">
  <img class="img-left" style="width:140px; height: 130px; float: left" src="https://goodwillotc.org/wp-content/uploads/2017/04/Favicon.png">
  <h1 class="display-2 text-white pl-3 pt-3" style="font-family: Georgia;" id="title_goodwill"><strong>Goodwill<strong></h1>
  </div>

    <div >
    <h1 class="display-5 p-5"> About Us </h1>
    </div>

    <div class="text-center p-3 bg-secondary w-50" style="margin-top: 40px; margin-left:30%">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/ucWiH0NViKk"
    frameborder="5" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
    </div>

    <div class="text-center p-4">
  		<p class="font h4"> Goodwill meets the needs of all job seekers, including programs for youth, seniors,
        veterans, and people with disabilities, criminal backgrounds and other specialized needs. In 2017, Goodwill
        helped more than 288,000 people train for careers in industries such as banking, IT and health care, to name
        a few — and get the supporting services they needed to be successful — such as English language training,
        additional education, or access to transportation and child care. Goodwill Industries International is committed
        to inclusion and diversity and respecting the people we serve, our community members, and the people with whom we
        work. We believe in putting people first, providing a safe space for our employees and creating environments where
        people have the support they need to build their work skills and care for their families. We are proud that people
        from diverse backgrounds have come to Goodwill to build their skills and their career goals. We will continue this
        tradition of serving others and building communities that work.</p>
  	</div>
<!--Buttons to other pages-->
<div class="row">
    <div class="col">
        <a href="/need">
          <button type="button" class="btn btn-danger btn-lg p-5 m-5" style="width:100%"> What do we need? </button>
        </a>
    </div>
    <div class="col">
        <a href="/donate">
          <button type="button" class="btn btn-success btn-lg p-5 m-5" style="width:100%"> Donate </button>
        </a>
    </div>
    <div class="col">
        <a href="/purchase">
          <button type="button" class="btn btn-warning btn-lg p-5 m-5" style="width:100%"> Purchase </button>
        </a>
    </div>
    <div class="col">
        <a href="/user">
          <button type="button" class="btn btn-info btn-lg p-5 m-5" style="width:100%"> Account </button>
        </a>
    </div>
</div>
</body>
</html>
