<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> About Us </title>
    <link rel="icon" href="https://goodwillotc.org/wp-content/uploads/2017/04/Favicon.png">


    <!--My CSS -->
    <style>

	</style>

<script src="ejs.js"></script>

</head>
<body>

    
    <form action="/donate" method="POST">
  <fieldset>
      <legend>What are you donating today?</legend>
      <input type="radio" name="action" value="houseware" /><label for="houseware">Houseware</label><br />
      <input type="radio" name="action" value="clothing"  /><label for="clothing">Clothing</label><br />
      <input type="radio" name="action" value="books" /><label for="books">Books</label><br />
      <input type="radio" name="action" value="electronics" /><label for="electronics">Electronics</label><br />
      <input type="radio" name="action"  value="other"  /><label for="other">Other</label><br />
      <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
<form>
<!--Buttons to other pages-->
<div class="row">
    <div class="col">
        <a href="/need">
          <button type="button" class="btn btn-danger btn-lg p-5 m-5" style="width:100%"> What do we need? </button>
        </a>
    </div>
    <div class="col">
        <a href="/user">
          <button type="button" class="btn btn-success btn-lg p-5 m-5" style="width:100%"> Account </button>
        </a>
    </div>
    <div class="col">
        <a href="/purchase">
          <button type="button" class="btn btn-warning btn-lg p-5 m-5" style="width:100%"> Purchase </button>
        </a>
    </div>
    <div class="col">
        <a href="/about_us">
          <button type="button" class="btn btn-info btn-lg p-5 m-5" style="width:100%"> About Us </button>
        </a>
    </div>
</div>
</body>
</html>
