<!DOCTYPE html>
<html>
<head >
<script src="ejs.js"></script>

<head>
</head>
<body>
    <form action="/donate" method="POST">
  <fieldset>
      <legend>What are you donating today?</legend>
      <input type="radio" name="action" value="houseware" /><label for="houseware">Houseware</label><br />
      <input type="radio" name="action" value="clothing"  /><label for="clothing">Clothing</label><br />
      <input type="radio" name="action" value="books" /><label for="books">Books</label><br />
      <input type="radio" name="action" value="electronics" /><label for="electronics">Electronics</label><br />
      <input type="radio" name="action"  value="other"  /><label for="other">Other</label><br />
      <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
<form>
</body>
</html>
