<!DOCTYPE html>
<html>
<head>
<script src="ejs.js"></script>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    Username<br>
    <input type="text" name="username"><br>
    Password<br>
    <input type="password" name="password">
    <button type="submit">submit<%=username%></button>
  </form>

</body>
</html>
