<!DOCTYPE html>
<html>
<head >
<script src="ejs.js"></script>
<body>
  <h2> Scan this QR code!<h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
</body>
</html>
